body {
  margin: 0;
  padding: 0;
  font-family: Outfit, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #6f8b6c;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.image-logo {
  width: 150px; /* Set the desired width */
  height: 50%; /* Set the desired height */
}


.image-container {
  background-color: #6f8b6c;
  padding: 20px;
}

.sidebar a {
  display: flex;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: #000;
}

.sidebar a i {
  margin-right: 10px;
}

.sidebar a:hover {
  background-color: #ddd;
}

.content {
  margin-left: 250px;
  padding: 20px;
}

.logo-and-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
}

.logo-and-profile h1 {
  font-size: 24px;
  margin: 0;
}

.logo-and-profile .user-profile {
  display: flex;
  align-items: center;
}

.logo-and-profile h3 {
  font-size: 24px;
  margin-right: 10px;
  color: #ffffff;
}

.logo-and-profile .profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #344031;
  color: #ffeba7;
  padding: 10px;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.logo-and-profile .home-icon {
  font-size: 24px;
  margin-left: 10px;
  color: #000;
  text-decoration: none;
}

.logo-and-profile .home-icon:hover {
  color: #ffeba7; /* Change the color on hover if desired */
}


.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Content styles */
.content {
  margin-left: 250px;
  padding: 20px;
}

/* Chat Message Section styles */
.chat-section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.chat-section h2 {
  color: #333;
  text-align: left;
  margin-bottom: 10px;
  font-size: 25px;
}

.user-profile {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.friends-list {
  margin-top: 10px;
}

.friend {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.friend img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.friend span {
  font-size: 16px;
  font-weight: bold;
}

.profile-chat-container {
  background-color: #f9f9f9; /* Set the background color for the container */
  padding: 10px; /* Set padding to create the box effect */
  border: 1px solid #ccc; /* Add a border for the container */
  border-radius: 5px; /* Add rounded corners to the container */
}

.friends-list .friend a {
  color: black;
  text-decoration: none;
}

.friends-list .friend:not(:last-child) {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px; /* Add some padding at the bottom to space out the friends */
}