.span {
    font-family: var(--font-mitr);
  }
  .personal-info1 {
    font-weight: 500;
  }
  .personal-info {
    font-size: var(--font-size-19xl);
    font-family: var(--font-mitr);
  }
  .fill-in-your-container {
    flex: 1;
    position: relative;
    text-shadow: 0px 12px 34px rgba(0, 0, 0, 0.45),
      0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .connect-logo-removebg-preview-icon {
    position: relative;
    width: 219.88px;
    height: 113.77px;
    object-fit: cover;
  }
  .connect-logo-removebg-preview-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xs);
    align-items: flex-end;
    justify-content: center;
  }
  .frame-wrapper {
    display: flex;
    flex-direction: column;
    padding: var(--padding-3xs);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .fill-in-your-personal-info-parent {
    align-self: stretch;
    height: 88px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) 0px;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .name {
    position: relative;
    font-weight: 500;
  }
  .frame-child {
    border: 1px solid var(--color-gray-100);
    font-weight: 500;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xl);
    background-color: var(--color-white);
    flex: 1;
    border-radius: var(--br-8xs);
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-8xs);
    align-items: center;
    justify-content: flex-start;
  }
  .frame-item {
    border: 1px solid var(--color-gray-100);
    font-weight: 500;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xl);
    background-color: var(--color-white);
    flex: 1;
    border-radius: var(--br-8xs);
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: flex-start;
  }
  .frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-mini);
  }
  .name-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-base);
  }
  .wrapper {
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    width: 69px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .frame-inner {
    border: 1px solid var(--color-gray-100);
    font-weight: 500;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xl);
    background-color: var(--color-white);
    flex: 1;
    border-radius: var(--br-8xs);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: flex-start;
  }
  .frame-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-sm);
    color: var(--color-gainsboro);
  }
  .frame-input {
    border: 1px solid var(--color-gray-100);
    font-weight: 500;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xl);
    background-color: var(--color-white);
    align-self: stretch;
    border-radius: var(--br-8xs);
    box-sizing: border-box;
    height: 51px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: flex-start;
  }
  .frame-child1 {
    border: 1px solid var(--color-gray-100);
    font-weight: 500;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xl);
    background-color: var(--color-white);
    align-self: stretch;
    border-radius: var(--br-8xs);
    display: flex;
    flex-direction: row;
    padding: var(--padding-3xs);
    align-items: center;
    justify-content: flex-start;
  }
  .stream-parent {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-base);
  }
  .frame-select {
    border-radius: var(--br-8xs);
    background-color: var(--color-white);
    border: 1px solid var(--color-gray-100);
    box-sizing: border-box;
    width: 131px;
    height: 55px;
    display: flex;
    flex-direction: row;
    padding: 0px var(--padding-3xs);
    align-items: center;
    justify-content: flex-start;
  }
  .semester-parent {
    width: 129px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-base);
  }
  .frame-parent1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-91xl);
  }
  .frame-div {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .ending-year {
    position: relative;
    font-weight: 500;
    display: inline-block;
    width: 197px;
    height: 49px;
    flex-shrink: 0;
  }
  .frame-child2 {
    border: 1px solid var(--color-gray-100);
    font-weight: 500;
    font-family: var(--font-poppins);
    font-size: var(--font-size-xl);
    background-color: var(--color-white);
    align-self: stretch;
    border-radius: var(--br-8xs);
    box-sizing: border-box;
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .ending-year-parent {
    align-self: stretch;
    height: 117px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-base);
  }
  .frame-container {
    align-self: stretch;
    height: 341px;
    display: flex;
    flex-direction: column;
    padding: 0px 480px 0px 0px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-base);
  }
  .info-tag {
    align-self: stretch;
    background-color: var(--color-midnightblue);
    box-shadow: 4px 4px 50px #447dc0;
    height: 688px;
    display: flex;
    flex-direction: column;
    padding: var(--padding-11xl);
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-5xl);
    font-size: var(--font-size-xl);
    font-family: var(--font-poppins);
  }
  .macbook-pro-16-1 {
    position: relative;
    background-color: #0c2833;
    width: 100%;
    height: 1274px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 133px 240px;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: center;
    gap: 72px;
    text-align: left;
    font-size: var(--font-size-6xl);
    color: var(--color-white);
    font-family: var(--font-jost);
  }